@import 'bootstrap';
@import './footer.css';

:root{
    --main-color: coral;
    --second-color: rgb(27, 27, 162);
    --third-color: rgb(255, 218, 185);
}

.background {
    background: linear-gradient(to left, #ff7f50, #ffdab9);
      overflow: hidden;
   }

   body{
    background: linear-gradient(to left, #ff7f50, #ffdab9);
   }

   a{
    text-decoration: none;
    color:var(--second-color)

   }
   button{
    color:var(--second-color)
   }


   .dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }

  .cash_cursor{
    cursor: url('http://www.rw-designer.com/cursor-extern.php?id=83573'),default;}