@import 'bootstrap';
@import './footer.css';
@import './navbar.css';

:root{
    --main-color: coral;
    --second-color: rgb(27, 27, 162);
    --third-color: rgb(255, 218, 185);
}

.background {
    background: linear-gradient(to left, #ff7f50, #ffdab9);
      overflow: hidden;
   }

   body{
    background: #CE5937;
background: -moz-linear-gradient(top, coral 0%, rgb(255, 218, 185) 100%);
background: -webkit-linear-gradient(top, coral 0%, rgb(255, 218, 185) 100%);
background: linear-gradient(to bottom, coral 0%, rgb(255, 218, 185) 100%);
   }

   a{
    text-decoration: none;
    color:var(--second-color)

   }
   button{
    color:var(--second-color)
   }

  .cash_cursor{
    cursor: url('http://www.rw-designer.com/cursor-extern.php?id=83573'),default;}