@import 'bootstrap';

:root{
    --main-color: coral;
    --second-color: rgb(27, 27, 162);
    --third-color: rgb(255, 218, 185);
}

.background {
    background: linear-gradient(to right, #ff7f50, #ffdab9);
   }

   body{
    background: linear-gradient(to right, #ff7f50, #ffdab9);
   }